
<div class="homeContainer">

	<h1 class="homeHeading">Out On The Town</h1>
	<h4  class="homeSubHeading">Plan The Perfect Day.</h4>
	<a href="/itineraries/new"><button type="button" class="btn btn-lg btn-primary">Plan an Itinerary</button></a>
	<% if current_user %>
	<a href="/itineraries"><button type="button" class="btn btn-lg btn-primary">View Saved Itineraries</button></a>
	<% else %>
	<a href="/login"><button type="button" class="btn btn-lg btn-primary">Log In</button></a>
	<% end %>

</div>

<div class="homeBackgroundDiv">
	<%= video_tag "bgvid2.mp4", :class => "bgVideo", :autoplay => true, :loop => true %>
</div>
<!-- <div class="screen">
</div> -->

<div class="aboutDiv" id="aboutDiv">
	<h2>About Out On The Town</h2>
	<p>
		Planning a night out usually means an annoying amount of research, googling place after place, trying to estimate how much each place would cost, etc. Out On The Town is a site that makes this process quick and easy, providing an entire itinerary based on budget, the types of places you'd like to go, etc.
	</p>
	<h2>Technologies used in creating this site:</h2>
	<ul>
		<li>JavaScript</li>
		<li>Ruby</li>
		<li>Rails</li>
		<li>HTML</li>
		<li>CSS</li>
		<li>Git</li>
		<li>PostgreSQL</li>
	</ul>
	<h2>About Me</h2>
	<p>
		I'm a teacher who discovered web development a few years ago, and have loved it ever since. My passions are teaching, coding, and playing music. I'm a rare combination of grammar nut, people person and coder, with an eye for detail and design. Feel free to contact me for more info!
	</p>
</div>
<footer><p>Copyright &copy;2016 by DK Design. All Rights Reserved.</p></footer>

