/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*, body {
	text-align: center;
	font-family: 'Ubuntu';
}

body {
	/*background: #E0EFF0;*/
	background: #0d1858;
	background: url(traffic.jpg) fixed;
	background-size: cover;
}

#navbar {
	z-index: 100;
}

@media(min-width: 768px) {
#navbar {
	/*margin-top: 5px;*/
/*	background: rgba(0,0,0,0.5);*/
	/* fallback */
	background: black;
  /*background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(black));
  background: -webkit-linear-gradient(top, black, transparent);
  background: -moz-linear-gradient(top, black, transparent);
  background: -ms-linear-gradient(top, black, transparent);
  background: -o-linear-gradient(top, black, transparent);*/
	
	height: 50px;
	border: none;
}

#navbar {
	position: fixed;
	width: 100%;
	top: 0;
}

#navbar a {
	color: white;
	font-size: 18px;
}

.clearNavBarDiv {
	height: 50px;
}

.alert {
	position: absolute;
	width: 30%;
	margin: 0 35%;
}

footer {
	width: 100%;
	height: 60px;
	position: fixed;
	bottom: 0;
/*  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(black), to(transparent));*/
  /*background: -webkit-linear-gradient(bottom, black, transparent);
  background: -moz-linear-gradient(bottom, black, transparent);
  background: -ms-linear-gradient(bottom, black, transparent);
  background: -o-linear-gradient(bottom, black, transparent);*/
	border: none;
}

footer p {
	position: relative;
	top: 20px;
/*	color: white;
*/	font-size: 14px;
	font-family: 'Ubuntu';
}

	h1 {
		font-size: 60px;
	}

	h2 {
		font-size: 50px;
	}

	h3 {
		font-size: 40px;
	}

	h4 {
		font-size: 32px;
	}

	h5 {
		font-size: 24px;
	}

	h6 {
		font-size: 18px;
	}

	p {
		font-size: 12px;
		margin-bottom: 5px;
	}
}