// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#signupDiv {
	width: 30%;
	height: 30%;
	border-radius: 15px;
	background: rgba(255,255,255,0.7);
	margin: 20% 35%;
	padding: 2px 5px 20px 5px;
	text-align: center;
}